{% for score in joueur.score %}
<tr>
    {% for des in score.Des %}
        <td> <img src="ressources/images/{{ des }}.png" width="35" height="35" alt="{{ des }}"/></td>
    {% endfor %}
  <td class="text-uppercase text-xs-center">{{ score.TypeResultat  }}</td><td>{{  score.Score }}</td>
</tr>
{% endfor %}