/*
RESSOURCES :

    font-family: 'Open Sans', sans-serif;
    font-family: 'Marcellus', serif;

*/


body{
    font-family: 'Open Sans', sans-serif;
}

.table1{
    background-color: #000000;
    /*background: #000000;
    background: -moz-linear-gradient(left, #000000 75%, #14e891 95%);
    background: -webkit-linear-gradient(left, #000000 75%,#14e891 95%);
    background: linear-gradient(to right, #000000 75%,#14e891 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#14e891',GradientType=1 );*/
}
.table-button1{
    background-color: #000000;
}

.table2{
    /*background: #000000;
    background: -moz-linear-gradient(left, #000000 75%, #f6ff00 99%);
    background: -webkit-linear-gradient(left, #000000 75%,#f6ff00 99%);
    background: linear-gradient(to right, #000000 75%,#f6ff00 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f6ff00',GradientType=1 );*/
}

.table-button2{
    background-color: #F6FF00;
}

.table3{
    /*background: #000000;
    background: -moz-linear-gradient(top, #000000 58%, #3b4eff 100%);
    background: -webkit-linear-gradient(top, #000000 58%,#3b4eff 100%);
    background: linear-gradient(to bottom, #000000 58%,#3b4eff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3b4eff',GradientType=0 );*/
}
.table-button3{
    background-color: #3B4EFF;
}

.table4{
    /*background: #000000;
    background: -moz-linear-gradient(top, #000000 58%, #ff41cf 100%);
    background: -webkit-linear-gradient(top, #000000 58%,#ff41cf 100%);
    background: linear-gradient(to bottom, #000000 58%,#ff41cf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff41cf',GradientType=0 );*/
}

.table-button4{
    background-color: #FF41CF;
}

.player-btn{
    padding : 15px;
}

.player-input{
    margin-top: 15px;
}

.btn{

}