/*
RESSOURCES :

    font-family: 'Open Sans', sans-serif;
    font-family: 'Marcellus', serif;

*/


body{
    font-family: 'Open Sans', sans-serif;
}

#accueil{
    background-image: url("../images/home.png") center;
}

#header{
    background-color: #000000;
}

.table-head{
    background-color: #000000;
}

.player-btn{
    padding : 15px;
}

.player-input{
    margin-top: 15px;
}
