<div class="container-fluid">
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td id="des">
                        {% include "ajax/results.html.twig" %}
                    </td>
                    <td><a href="Action-Garder" id="garder" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> garder</a></td>
                    <td><a href="Action-Relancer" id="relancer" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> relancer</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>