{% extends "blocks/body.html.twig" %}

{% block title %} yams en ligne {% endblock %}


{% block head %}
    {{ parent() }}
    <meta name="description" content="Jouer au yams en ligne"/>

{% endblock %}


{% block header %}

    {% if nomjoueurs.etatpartie !='fini' %}

    {% include "blocks/header.html.twig" %}
    {% include "elements/infoparty.html.twig" %}
    {% include "elements/des.html.twig" %}

    {% else %}
        <h1> Fin de la partie </h1>
    {% endif %}

{% endblock %}





{% block body %}


    {% include "elements/tableau-score.html.twig" %}

   {#{{ parent() }}#}

{% endblock %}

